@use "./base/reset" as *;
@use "./base/fonts" as *;
@use "./base/mixins" as *;
@use "./base/variables" as *;
@use "./icons/style.scss";

body {
  background-color: $Light_grayish_cyan;
  @include font();
  header {
    margin: 150px auto 80px auto;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    &::after {
      @include icon();
      font-size: 60px;
    }
  }
  main {
    width: 90%;
    max-width: 920px;
    min-height: 484px;
    background-color: white;
    margin: 0 auto;
    border-radius: 22px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .input {
      flex-basis: 410px;
      &__form {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 40px;
        &__field {
          &__label {
            display: block;
            padding-bottom: 12px;
          }
          &__icon {
            position: relative;
            &::after {
              position: absolute;
              top: 18px;
              left: 12px;
              font-size: 16px;
            }
            &--dollar {
              &::after {
                @include icon("\e900", $Dark_grayish_cyan2);
              }
            }
            &--person {
              &::after {
                @include icon("\e901", $Dark_grayish_cyan2);
              }
            }
          }
          &__input {
            @include font($Very_dark_cyan, 24px, 700);
            text-align: end;
            background-color: $Light_grayish_cyan2;
            border-radius: 7px;
            padding: 8px 12px;
            position: relative;
            width: 100%;
            outline: none;
            cursor: pointer;
            &::placeholder {
              @include font($Dark_grayish_cyan2, 24px, 700);
            }
            &:hover,
            &:focus {
              outline: 2px solid $Bright_cyan;
            }
          }
          &__error {
            display: none;
            color: red;
          }
          span {
            display: flex;
            justify-content: space-between;
          }
          &--error {
            .input__form__field {
              &__error {
                display: block;
              }
              &__input {
                outline: 2px solid red;
              }
            }
          }
          &--buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 14px 16px;
            input {
              display: none;
            }
          }
          &__btn {
            flex-basis: 115px;
            flex-grow: 1;
            height: 48px;
            background-color: $Very_dark_cyan;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            @include font(white, 24px, 700);
            border-radius: 6px;
            &--active {
              background-color: $Bright_cyan;
              color: $Very_dark_cyan;
            }
            &--custom {
              @include font($Dark_grayish_cyan, 24px, 700);
              background-color: $Light_grayish_cyan2;
              &:hover,
              &:active {
                outline: 2px solid $Bright_cyan;
              }
              input {
                display: block;
                width: 100%;
                height: 100%;
                background-color: transparent;
                text-align: center;
                border-radius: 6px;
                @include font($Very_dark_cyan, 24px, 700);
                &::placeholder {
                  @include font($Dark_grayish_cyan, 24px, 700);
                }
                &:hover,
                &:focus {
                  outline: 2px solid $Bright_cyan;
                }
              }
            }
          }
        }
      }
    }
    .output {
      background-color: $Very_dark_cyan;
      flex-basis: 410px;
      border-radius: 14px;
      padding: 50px 30px 38px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__article {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 60px;
        &__item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          &__white {
            @include font(white, 16px, 500);
            padding-bottom: 10px;
          }
          &__normal {
            @include font($Dark_grayish_cyan2);
          }
          &__big {
            @include font($Bright_cyan, 40px, 700);
            &::before {
              @include icon("\e900", $Bright_cyan);
              padding-right: 3px;
            }
          }
        }
        &__btn {
          @include font($Very_dark_cyan, 20px, 700);
          text-transform: uppercase;
          height: 48px;
          border-radius: 5px;
          background-color: rgba($Bright_cyan, 0.3);
          &--active {
            background-color: $Bright_cyan;
          }
        }
      }
    }
  }
}
