@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

@font-face {
  font-family: "icons";
  src: url("./icons/fonts/icomoon.eot?aos49u");
  src: url("./icons/fonts/icomoon.eot?aos49u#iefix") format("embedded-opentype"), url("./icons/fonts/icomoon.ttf?aos49u") format("truetype"), url("./icons/fonts/icomoon.woff?aos49u") format("woff"), url("./icons/fonts/icomoon.svg?aos49u#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-dollar:before {
  content: "\e900";
  color: #9ebbbd;
}

.icon-icon-person:before {
  content: "\e901";
  color: #9ebbbd;
}

.icon-logo:before {
  content: "\e902";
  color: #3d6666;
}

body {
  background-color: #c5e4e7;
  font-family: "Space Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  color: #5e7a7d;
}
body header {
  margin: 150px auto 80px auto;
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
}
body header::after {
  content: "\e902";
  font-family: icons;
  color: #00494d;
  font-size: 60px;
}
body main {
  width: 90%;
  max-width: 920px;
  min-height: 480px;
  background-color: white;
  margin: 0 auto;
  border-radius: 22px;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 45px;
}
body main .input {
  flex-basis: 400px;
  flex-grow: 1;
}
body main .input__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
}
body main .input__form__field__label {
  display: block;
  padding-bottom: 12px;
}
body main .input__form__field__icon {
  position: relative;
}
body main .input__form__field__icon::after {
  position: absolute;
  top: 18px;
  left: 12px;
  font-size: 16px;
}
body main .input__form__field__icon--dollar::after {
  content: "\e900";
  font-family: icons;
  color: #7f9b9f;
}
body main .input__form__field__icon--person::after {
  content: "\e901";
  font-family: icons;
  color: #7f9b9f;
}
body main .input__form__field__input {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: 700;
  color: #00494d;
  text-align: end;
  background-color: #f5fafa;
  border-radius: 7px;
  padding: 8px 12px;
  position: relative;
  width: 100%;
  outline: none;
  cursor: pointer;
}
body main .input__form__field__input::placeholder {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: 700;
  color: #7f9b9f;
}
body main .input__form__field__input:hover, body main .input__form__field__input:focus {
  outline: 2px solid #26c0ab;
}
body main .input__form__field__error {
  display: none;
  color: red;
}
body main .input__form__field span {
  display: flex;
  justify-content: space-between;
}
body main .input__form__field--error .input__form__field__error {
  display: block;
}
body main .input__form__field--error .input__form__field__input {
  outline: 2px solid red;
}
body main .input__form__field--buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 14px 16px;
}
body main .input__form__field--buttons input {
  display: none;
}
body main .input__form__field__btn {
  flex-basis: 115px;
  flex-grow: 1;
  height: 48px;
  background-color: #00494d;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: 700;
  color: white;
  border-radius: 6px;
}
body main .input__form__field__btn--active {
  background-color: #26c0ab;
  color: #00494d;
}
body main .input__form__field__btn--custom {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: 700;
  color: #5e7a7d;
  background-color: #f5fafa;
}
body main .input__form__field__btn--custom:hover, body main .input__form__field__btn--custom:active {
  outline: 2px solid #26c0ab;
}
body main .input__form__field__btn--custom input {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  text-align: center;
  border-radius: 6px;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: 700;
  color: #00494d;
}
body main .input__form__field__btn--custom input::placeholder {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: 700;
  color: #5e7a7d;
}
body main .input__form__field__btn--custom input:hover, body main .input__form__field__btn--custom input:focus {
  outline: 2px solid #26c0ab;
}
body main .output {
  background-color: #00494d;
  flex-basis: 400px;
  flex-grow: 1;
  border-radius: 14px;
  padding: 50px 30px 38px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main .output__article {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
body main .output__article:first-of-type {
  margin-bottom: 55px;
}
body main .output__article__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .output__article__item__white {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding-bottom: 10px;
}
body main .output__article__item__normal {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  color: #7f9b9f;
}
body main .output__article__item__big {
  font-family: "Space Mono", monospace;
  font-size: 40px;
  font-weight: 700;
  color: #26c0ab;
}
body main .output__article__item__big::before {
  content: "\e900";
  font-family: icons;
  color: #26c0ab;
  padding-right: 3px;
}
body main .output__article__btn {
  font-family: "Space Mono", monospace;
  font-size: 20px;
  font-weight: 700;
  color: #00494d;
  text-transform: uppercase;
  height: 48px;
  border-radius: 5px;
  background-color: rgba(38, 192, 171, 0.3);
  cursor: pointer;
}
body main .output__article__btn--active {
  background-color: #26c0ab;
}

/*# sourceMappingURL=style.css.map */
